html, body {
    height: 90%;
    margin: 0;
}

header {
    padding: 20px;
    position: relative; 
}

body {
    background: #000000;
    background-image: linear-gradient(90deg, #1a1a1a 0%, #000000 50%, #1a1a1a 100%);
    color: white;
    font-family: 'Segoe UI';
    font-size: x-large;
    background-attachment: fixed;
    text-align: center;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

.smallImg {
    width:32px; 
    height:32px; 
    vertical-align:middle;
}

.homebutton {
    margin-bottom: 10px;
    margin-top: 10px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.homebutton:link, .homebutton:visited, .homebutton:hover, .homebutton:active {
  background-color: rgb(255, 174, 0);
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.buttonlink {
    margin-bottom: 20px;
    margin-top: 20px;
}

.minimala:link, .minimala:active, .minimala:visited {
    color: white;
    text-decoration: underline;
}

.minimala:hover {
    color: white;
    text-decoration: none;
}

.buttonlink:link, .buttonlink:visited, .buttonlink:hover, .buttonlink:active {
  background-color: rgb(255, 174, 0);
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
